TZ=Europe/Zurich
PROXY_NETWORK=reverse-proxy_default

DEFAULT_HOST=stoeff.xyz
DEFAULT_EMAIL=christoph.tiger@hotmail.com
LETSENCRYPT_EMAIL=christoph.tiger@hotmail.com

VIRTUAL_HOST=stoeff.xyz,www.stoeff.xyz
LETSENCRYPT_HOST=stoeff.xyz,www.stoeff.xyz

POSTGRES_USER=stoff
POSTGRES_PASSWORD=abc123
POSTGRES_DB=crypto_dashboard

FRONTEND_VIRTUAL_HOST=dashboard.stoeff.xyz
FRONTEND_LETSENCRYPT_HOST=dashboard.stoeff.xyz
BACKEND_VIRTUAL_HOST=api.dashboard.stoeff.xyz
BACKEND_LETSENCRYPT_HOST=api.dashboard.stoeff.xyz

CORS_ORIGINS=https://dashboard.stoeff.xyz
REACT_APP_API_BASE_URL=https://api.dashboard.stoeff.xyz/api
REACT_APP_LOGO_BASE_URL=https://api.dashboard.stoeff.xyz/logos/
